Q1 <p>Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained.</p>
<p>Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the
gender of an individual and the level of education that they have obtained?</p>

In [1]:
from scipy.stats import chi2_contingency 
data = [[54,44,98],[46,53,99],[41,57,98]] 
stat, p, dof, expected = chi2_contingency(data) 
  
# interpret p-value 
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('reject H0') 
else: 
    print('H0 holds true')

p value is 0.4685682799964168
H0 holds true

Q2. <p>Using the following data, perform a oneway analysis of variance using Î±=.05. Write
up the results in APA format.</p>

<p>[Group1: 51, 45, 33, 45, 67]</p>
<p>[Group2: 23, 43, 23, 43, 45]</p>
<p>[Group3: 56, 76, 74, 87, 56]</p>

In [2]:
import pandas as pd 
df=pd.DataFrame(data=d)

In [9]:
Group1=[ 51, 45, 33, 45, 67]
Group2=[23, 43, 23, 43, 45]
Group3=[56, 76, 74, 87, 56]
all_scores =Group1 + Group2 + Group3
group_names = (['Group1'] * len(Group1)) +  (['Group2'] * len(Group2)) +  (['Group3'] * len(Group3))
data = pd.DataFrame({'group': group_names, 'score': all_scores})
data

     group  score
0   Group1     51
1   Group1     45
2   Group1     33
3   Group1     45
4   Group1     67
5   Group2     23
6   Group2     43
7   Group2     23
8   Group2     43
9   Group2     45
10  Group3     56
11  Group3     76
12  Group3     74
13  Group3     87
14  Group3     56

In [12]:
data.groupby('group').mean()
import statsmodels.api as sm
from statsmodels.formula.api import ols
lm = ols('score ~ group',data=data).fit()
table = sm.stats.anova_lm(lm)
print(table)

            df       sum_sq      mean_sq         F   PR(>F)
group      2.0  3022.933333  1511.466667  9.747206  0.00306
Residual  12.0  1860.800000   155.066667       NaN      NaN

Q3.Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.

In [14]:
# CASE 1:
mean1=sum([10+20+30+40+50])/5
var1=0
for i in [10,20,30,40,50]:
    var1+=(i-mean1)**2
var1/=4
var1

250.0

In [19]:
mean2=sum([5+10+15+20+25])/5
var2=0
for i in [5,10,15, 20, 25]:
    var2+=(i-mean2)**2
var2/=4
f=var1/var2
print(f)

12.0