Q1.<p> In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?</p>
<p>1. H0: μ = 25, H1: μ ≠ 25</p>
<p>2. H0: σ > 10, H1: σ = 10</p>
<p>3. H0: x = 50, H1: x ≠ 50</p>
<p>4. H0: p = 0.1, H1: p = 0.5</p>
<p>5. H0: s = 30, H1: s > 30</p>

In [1]:
# 1. Yes because first statement is null hypothesis and other is alternate hypothesis
# 2. No because if the null hypothesis has condition > the alternate hypothesis should have<=
# 3.NO because hypothesis talks about the statements about population or distribution and not about the sample
# 4.No because value of both the hypothesis is different
# 5.NO because hypothesis talks about the statements about population or distribution and not about the sample

Q2. The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore’s claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.

In [4]:
#H0:pop mean =52
#H1:pop mean !=52
#Significance level=5%
#given  pop mean=52
#       sample mean=52.80
#       SD=4.5
#       Sample size= 100
#z score for single mean= (xbar-meu)/(sigma/root of n)
# z=1.7777777777777715
# since |z|<1.96
# so null hypothesis is accepted i.e population mean is 52

Q3. A certain chemical pollutant in the Genesee River has been constant for several
years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.

In [6]:
#H0:pop mean =34
#H1:pop mean !=34
#Significance level=1%
#given  pop mean=34ppm
#       sample mean=32.5
#       SD=8ppm
#       Sample size= 50
#z score for single mean= (xbar-meu)/(sigma/root of n)
# |z|=1.32
# since |z|<2.58
# so null hypothesis is accepted i.e population mean is 34

Q4. <p>Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family’s dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association’s hypothesis.</p>
<p>1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,</p>
<p>872, 913, 944, 954, 987, 1695, 995, 1003, 994</p>

In [7]:
sample=list(map(int,input().split(',')))
print("Sample mean: ",sum(sample)/len(sample))

1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,872, 913, 944, 954, 987, 1695, 995, 1003, 994
Sample mean:  1031.3181818181818

In [8]:
variance=0
for i in sample:
    variance+=(i-1031.32)**2
variance/=(len(sample)-1)
print("SD:",variance**0.5)

SD: 240.37458593184255

In [ ]:
#H0:pop mean =1135
#H1:pop mean !=1135
#Significance level=5%
#given  pop mean=1135
#       sample mean=1031.32
#       SD= 240.37
#       Sample size= 50
#z score for single mean= (xbar-meu)/(sigma/root of n)
# |z|=3.06
# z>1.96
# hence null hypothesis is rejected

Q5. In a report prepared by the Economic Research Department of a major bank the
Department manager maintains that the average annual family income on Metropolis
is 48432 dollers. What do you conclude about the validity of the report if a random sample
of 400 families shows and average income of 48574 doller with a standard deviation of
2000?

In [ ]:
#H0:pop mean =48432 
#H1:pop mean !=48432 
#Significance level=5%
#given  pop mean=48432
#       sample mean=48574
#       SD= 2000
#       Sample size= 400
#z score for single mean= (xbar-meu)/(sigma/root of n)
# |z|=1.42
# z<1.96
# hence null hypothesis is accepted

Q6. Suppose that in past years the average price per square foot for warehouses in the
United States has been 32.28. A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is 31.67, with a standard deviation of $1.29. assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5 percent level of significance, what statistical conclusion can be
reached? What are the hypotheses?

In [11]:
#H0:pop mean =32.28
#H1:pop mean !=32.28
#Significance level=5%
#given  pop mean=32.28
#       sample mean=31.67
#       SD= 1.29
#       Sample size= 19
#z score for single mean= (xbar-meu)/(sigma/root of n)
# |z|=2.1
# z>1.96
# hence null hypothesis is rejected

Q8.Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5

In [12]:
# n=16
# xbar=12
# meu=10
# S=1.5
# t=(xbar-meu)/(s/root of n)
# t= -5.33

Q9. Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.

In [14]:
# df=16-1=15
# 99 % confidence= 1% Significance
# -t(0.01)=-2.602

Q10. If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that (−t0.05 <t<t0.10).

In [16]:
# n=25
# meu=60
# S=4
# df=25-1=24
# t(0.05) for df=24==1.711
# t(0.1) for df=24==1.32
# so range is -1.711<t<1.32

Q11. <p>Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:</p>
<p>Population 1: Bangalore to Chennai n1 = 1200</p>
<p>x1 = 452</p>
<p>s1 = 212</p>
<p>Population 2: Bangalore to Hosur n2 = 800</p>
<p>x2 = 523</p>
<p>s2 = 185</p>

In [19]:
# h0 the difference is not significant
# h1 the difference is significant
# Population 1: Bangalore to Chennai n1 = 1200
# x1 = 452
# s1 = 212
# Population 2: Bangalore to Hosur n2 = 800
# x2 = 523
# s2 = 185
# Z score for difference of mean drawn from different population=> 
#     z=(x1 bar -x2 bar)/(root(((s1**2/n1)+(s2**2/n2))))
# |z|=7.93
# since z>1.96
# H0 is rejected so the difference of mean is significant

Q12 Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:
Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67

In [21]:
# h0 the difference of mean is not significant
# h1 the difference of mean is significant
# Population 1: Duracell
# n1 = 100
# x1 = 308
# s1 = 84
# Population 2: Energizer
# n2 = 100
# x2 = 254
# s2 = 67
# Z score for difference of mean drawn from different population=>(since population>30) 
#     z=(x1 bar -x2 bar)/(root(((s1**2/n1)+(s2**2/n2))))
#z=1.35
#since z<1.96
#so null hypothesis is accepted

Q13.<p>Pooled estimate of the population variance
<p>Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?</p>
<p>Population 1: Price of sugar = Rs. 27.50 n1 = 14</p>
<p>x1 = 0.317%</p>
<p>s1 = 0.12%</p>
<p>Population 2: Price of sugar = Rs. 20.00 n2 = 9</p>
<p>x2 = 0.21%</p>
<p>s2 = 0.11%</p>

In [ ]:
# h0 the average percentage increase
# h1 the average percentage  does not increase
# Population 1: Price of sugar = Rs. 27.50 n1 = 14
# x1 = 0.317%
# s1 = 0.12%
# Population 2: Price of sugar = Rs. 20.00 n2 = 9
# x2 = 0.21%
# s2 = 0.11%
# t score for difference of mean drawn two small samples =>(since population<30)
# t= (xbar-ybar)/(S*root((1/n1)+(1/n2))) where S**2=(n1s1**2+n2s2**2)/(n1+n2-2)
# t= 2.07
# Since t(0.05)>1.72

Q14 <p>The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?</p>
<p>Population 1: Before reduction</p>
<p>n1 = 15</p>
<p>x1 = Rs. 6598 s1 = Rs. 844</p>
<p>Population 2: After reduction n2 = 12</p>
<p>x2 = RS. 6870</p>
<p>s2 = Rs. 669</p>

In [30]:
# h0  small price reduction is enough to increase sales of their product
# h1  small price reduction is not enough to increase sales of their product
# Population 1: Before reduction
# n1 = 15
# x1 = Rs. 6598 s1 = Rs. 844
# Population 2: After reduction n2 = 12
# x2 = RS. 6870
# s2 = Rs. 669
# t score for difference of mean drawn two small samples =>(since population<30)
# t= (xbar-ybar)/(S*root((1/n1)+(1/n2))) where S**2=(n1s1**2+n2s2**2)/(n1+n2-2)
# t=0.88
# Since t(0.05)<1.708
# So null hypothesis is accepted

Q15. <p>Comparisons of two population proportions when the hypothesized difference is zero
Carry out a two-tailed test of the equality of banks’ share of the car loan market in
1980 and 1995.</p>
<p>Population 1: 1980</p>
<p>n1 = 1000</p>
<p>x1 = 53</p>
<p>p 1 = 0.53</p>
<p>Population 2: 1985</p>
<p>n2 = 100</p>
<p>x2 = 43</p>
<p>p 2= 0.53</p>

In [ ]:
# h0 the difference of mean is not significant
# h1 the difference of mean is significant
# Population 1: 1980
# n1 = 1000
# x1 = 53
# p 1 = 0.53
# Population 2: 1985
# n2 = 100
# x2 = 43
# p 2= 0.53
# so z score for difference of proportion from two poulation z=(p1-p2)/(PQ*root(((1/n1)+(1/n2))))
# where p=(n1p1+n2p2)/(n1+n2) and q=1-p
# z=0
# since z<1.96 so null hypothesis is accepted

Q16.<p>Carry out a one-tailed test to determine whether the population proportion of
traveler’s check buyers who buy at least 2500 dollar in checks when sweepstakes prizes
are offered as at least 10 percent higher than the proportion of such buyers when no
sweepstakes are on.</p>
<p>Population 1: With sweepstakes</p>
<p>n1 = 300</p>
<p>x1 = 120</p>
<p>p = 0.40</p>
<p>Population 2: No sweepstakes n2 = 700</p>
<p>x2 = 140</p>
<p>p 2= 0.20</p>

In [ ]:
# h0 the difference of mean is not significant
# h1 the difference of mean is significant
# Population 1: With sweepstakes
# n1 = 300
# x1 = 120
# p = 0.40
# Population 2: No sweepstakes n2 = 700
# x2 = 140
# p 2= 0.20
# so z score for difference of proportion from two poulation z=(p1-p2)/(PQ*root(((1/n1)+(1/n2))))
# where p=(n1p1+n2p2)/(n1+n2) and q=1-p
# z=6.64
# since z>1.96 so null hypothesis is accepted

Q17. A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as p −1 .

In [1]:
# h0 the dice is unbiased
# h1 the dice is biased

In [8]:
import pandas as pd
d={'observed':[16, 20, 25, 14, 29, 28]}
df=pd.DataFrame(data=d)
df['expected']=(sum(df['observed'])//6)
df['o-e square']=(df['observed']-df['expected'])**2
df

   observed  expected  o-e square
0        16        22          36
1        20        22           4
2        25        22           9
3        14        22          64
4        29        22          49
5        28        22          36

In [9]:
Xcal_square=sum(df['o-e square'])/22
Xcal_square

9.0

In [13]:
# Dof = n-1 = 6-1 =5
# ∝=11.0705
# Since X2cal<  (X∝)2
# HO is accepted.

Q18.In a certain town, there are about one million eligible voters. A simple random
sample of 10000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:

In [17]:
from scipy.stats import chi2_contingency 
data = [[2792,1486], [3591,2131]] 
stat, p, dof, expected = chi2_contingency(data) 
  
# interpret p-value 
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('reject H0') 
else: 
    print('H0 holds true')

p value is 0.01047464310091866
reject H0

Q19. Children of three ages are asked to indicate their preference for three photographs of
adults. Do the data suggest that there is a significant relationship between age and
photograph preference? What is wrong with this study? Chi-Square = 29.6, with 4
df: p < 0.05.

In [18]:
from scipy.stats import chi2_contingency 
data = [[18,2,20],[22,28,10],[20,40,40]] 
stat, p, dof, expected = chi2_contingency(data) 
  
# interpret p-value 
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('reject H0') 
else: 
    print('H0 holds true')

p value is 5.894582174262628e-06
reject H0

Q20. A study of conformity using the Asch paradigm involved two conditions: one where
one confederate supported the true judgement and another where no confederate
gave the correct response.

In [19]:
from scipy.stats import chi2_contingency 
data = [[18,22], [20,10]] 
stat, p, dof, expected = chi2_contingency(data) 
  
# interpret p-value 
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('reject H0') 
else: 
    print('H0 holds true')

p value is 0.11914254726024916
H0 holds true

Q22 We want to test whether short people differ with respect to their leadership qualities
(Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget
MP's are there?) The following table shows the frequencies with which 43 short people and
52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a
relationship between height and leadership qualities?

In [20]:
from scipy.stats import chi2_contingency 
data = [[12,22,9], [32,14,6]] 
stat, p, dof, expected = chi2_contingency(data) 
  
# interpret p-value 
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('reject H0') 
else: 
    print('H0 holds true')

p value is 0.004719280137040844
reject H0

Q23.Each respondent in the Current Population Survey of March 1993 was classified as
employed, unemployed, or outside the labor force. The results for men in California age 35-
44 can be cross-tabulated by marital status, as follows:

In [21]:
from scipy.stats import chi2_contingency 
data = [[679,63,42], [103,10,18],[114,20,25]] 
stat, p, dof, expected = chi2_contingency(data) 
  
# interpret p-value 
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('reject H0') 
else: 
    print('H0 holds true')

p value is 2.2949883042859918e-06
reject H0